{% extends 'base.html.twig' %}

{% block title %}MeetingDate index{% endblock %}

{% block body %}
    <h1>MeetingDate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_at</th>
                <th>End_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting_date in meeting_dates %}
            <tr>
                <td>{{ meeting_date.id }}</td>
                <td>{{ meeting_date.startAt ? meeting_date.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting_date.endAt ? meeting_date.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('meeting_date_show', {'id': meeting_date.id}) }}">show</a>
                    <a href="{{ path('meeting_date_edit', {'id': meeting_date.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('meeting_date_new') }}">Create new</a>
{% endblock %}
