{% extends 'base.html.twig' %}

{% block title %}MeetingDate{% endblock %}

{% block body %}
    <h1>MeetingDate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meeting_date.id }}</td>
            </tr>
            <tr>
                <th>Start_at</th>
                <td>{{ meeting_date.startAt ? meeting_date.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End_at</th>
                <td>{{ meeting_date.endAt ? meeting_date.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('meeting_date_index') }}">back to list</a>

    <a href="{{ path('meeting_date_edit', {'id': meeting_date.id}) }}">edit</a>

    {{ include('meeting_date/_delete_form.html.twig') }}
{% endblock %}
