{% extends 'base.html.twig' %}

{% block title 'Editez une reunion'%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5cm;">
        {% if meeting.chosenDate %}
            {{ include('meeting/index.html.twig') }}
        {% else %}
            {{ include('admin/meeting/__editMeetingDate.html.twig') }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/MeetingDate.js') }}"></script>
    <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ asset('js/MeetingGuest.js') }}"></script>
    <script type="text/javascript">
        $carousel = $('.owl-carousel');

        $(function () {
            let $meeting_wrapper = $('.js-meeting-date-wrapper');
            let $datePicker = $('.js-datetime-picker');
            let $timePicker = $('.js-time-picker');
            new MeetingDate($meeting_wrapper, $datePicker, $timePicker, $carousel);

            let $meetingGuestWrapper = $('.js-meeting-guest');
            new MeetingGuest($meetingGuestWrapper);
        });
    </script>
{% endblock %}



