{% extends 'base.html.twig' %}

{% block title 'Editez une reunion'%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Editez la reunion</h1>
        <div class="jumbotron row">
            <div class="col-6">
                <div class="container js-meeting-date-table">
                    <h2>
                        Dates de reunion
                        <a href="#" class="btn btn-md btn-success pull-right" data-toggle="modal" data-target="#dataModal">
                            <span class="fa fa-plus"></span> Add
                        </a>
                    </h2>
                    {{ include('admin/meeting_date/__form.html.twig', {meeting_id: meeting.id}) }}
                    <div class="row js-new-meeting-date-form-wrapper" id="dataModal"></div>
                    <div class="row">
                        <table class="table table-stripped">
                            <thead class="thead-light">
                                <tr>
                                    <th colspan="4" class="text-right">Nombre de date: <span class="js-number-of-meeting">{{ meeting_date_list|length }}</span></th>
                                </tr>
                                <tr>
                                    <th scope="col">Start at</th>
                                    <th scope="col">End at</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="date_table" class="js-tbody-delete-meeting-date">
                                {% for dates in meeting_date_list %}
                                    {{ include('admin/meeting/__meetingRow.html.twig') }}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
            <div class="col-6">
                {{ form_start(form) }}
                    <div class="container">
                        {{ form_row(form.title) }}
                    </div>
                    {{ form_row(form.description) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary"> {{ button|default('Enregistrer') }} </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
                <h3>Invitez de nouvelle personne</h3>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/MeetingDate.js') }}"></script>
    <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            let $wrapper = $('.js-meeting-date-table');
            let $datetimepicker = $('.js-datetime-picker');
            let meetingDate = new MeetingDate($wrapper, $datetimepicker);
        });
    </script>

{% endblock %}



