{% extends 'base.html.twig' %}
{% block title 'My meeting'%}
{% block body %}
    <div class="container">
        <h1>Manage your meeting's !</h1>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for meeting in meetings %}
                <tr>
                    <td>{{ meeting.title }}</td>
                    <td>
                        {% if meeting.chosenDate %}
                            <a href="{{ path('meeting.show', {id: meeting.id, slug: meeting.slug}) }}" class="btn btn-secondary">View</a>
                        {% else %}
                            <a href="{{ path('admin.meeting.edit', {id: meeting.id}) }}" class="btn btn-secondary">Edit</a>
                        {% endif %}
                        <form method="post" action="{{ path('admin.meeting.delete', {id: meeting.id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sure ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id)  }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.meeting.create') }}" class="btn btn-primary">New meeting.</a>
        </div>
    </div>
{% endblock %}
