<div class="card text-center meeting-date-card-availability">
    <div class="card-header bg-info">
        <h2 class="title">The {{ date.day|date("j F Y") }}</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4 offset-2 border-right border-danger">
                <h5 class="title__min">Start at</h5>
                <p>{{ date.startAt|date('H:i') }}</p>
            </div>
            <div class="col-4">
                <h5 class="title__min">End at</h5>
                <p>{{ date.endAt|date('H:i') }}</p>
            </div>
        </div>
        <div class="js-availability-wrapper">
            {% if guest.guestWithAccount %}
                {% if availability is defined %}
                    {% set break = false %}
                    {% for choice in availability %}
                        {% if choice.meetingDate.id == date.id %}
                            {% set break = true %}
                            {% if choice.choice == true %}
                                <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date.choice.refuse', {id_meeting_date: date.id, id: guest.id}) }}">Not disposable</a>
                            {% else %}
                                <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date.choice.accept', {id_meeting_date: date.id, id: guest.id}) }}">Disposable</a>
                            {% endif %}
                            <a href="#" class="btn btn-danger js-meeting-date-choice-cancel" data-url="{{ path('availability.cancel', {id: choice.id}) }}">
                                <span class="fa fa-times"> </span>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if not break %}
                        <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date.choice.accept', {id_meeting_date: date.id, id: guest.id}) }}">Disposable</a>
                        <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date.choice.refuse', {id_meeting_date: date.id, id: guest.id}) }}">Not disposable</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date.choice.accept', {id_meeting_date: date.id, id: guest.id}) }}">Disposable</a>
                    <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date.choice.refuse', {id_meeting_date: date.id, id: guest.id}) }}">Not disposable</a>
                {% endif %}
            {% else %}
                {% if availability is defined %}
                    {% set break = false %}
                    {% for choice in availability %}
                        {% if choice.meetingDate.id == date.id %}
                            {% set break = true %}
                            {% if choice.choice == true %}
                                <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date_choice.refuse_without_account', {id_meeting_date: date.id, id: guest.id, token: guest.guestWithoutAccount.token}) }}">Not disposable</a>
                            {% else %}
                                <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date_choice.accept_without_account', {id_meeting_date: date.id, id: guest.id, token: guest.guestWithoutAccount.token}) }}">Disposable</a>
                            {% endif %}
                            <a href="#" class="btn btn-danger js-meeting-date-choice-cancel" data-url="{{ path('availability.cancel_without_account', {id: choice.id, token: guest.guestWithoutAccount.token}) }}">
                                <span class="fa fa-times"> </span>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if not break %}
                        <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date_choice.accept_without_account', {id_meeting_date: date.id, id: guest.id, token: guest.guestWithoutAccount.token}) }}">Disposable</a>
                        <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date_choice.refuse_without_account', {id_meeting_date: date.id, id: guest.id, token: guest.guestWithoutAccount.token}) }}">Not disposable</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date_choice.accept_without_account', {id_meeting_date: date.id, id: guest.id, token: guest.guestWithoutAccount.token}) }}">Disposable</a>
                    <a href="#" class="btn btn-primary js-meeting-date-choice" data-url="{{ path('meeting_date_choice.refuse_without_account', {id_meeting_date: date.id, id: guest.id, token: guest.guestWithoutAccount.token}) }}">Not disposable</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="card-footer text-black bg-transparent">
        <p>Create the {{ date.createAt|date('d-m-Y \\a\\t H:i') }}</p>
    </div>
</div>