{% extends 'base.html.twig' %}
{% block title meeting.title%}
{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <!--information-->
                </div>
                <div class="col-md-4">
                    <h1>{{ meeting.title }}</h1>
                    <p>Lancé le {{ meeting.formatedCreatedAt }}</p>
                    <a href="#" class="btn btn-primary">Contactez le créateur</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        {{ form_start(form) }}
        <div class="form-row mb-4">
            <div class="col">
                {{ form_widget(form.email) }}
            </div>
            <div class="col">
                <button class="btn btn-primary">Recherchez</button>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="col-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
