{% extends 'email/email_base.html.twig' %}
{% block content %}
    <spacer size="20"> </spacer>
    <row>
        <columns>
            <p>{{ email.toName }} {{ date.meeting.user.username }} has chosen a date ! For {{ date.meeting.title }}.</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>The chosen date start the {{ date.day|date('d/m/Y') }} at {{ date.startAt|date('H:i') }} until {{ date.endAt|date('H:i') }}</p>
        </columns>
    </row>
    {% if guest.guestWithoutAccount %}
        <row>
            <columns>
                <p>You don't have account on meeting planner ?</p>
                <p>No problem ! Go to the meeting with this url:
                    <button href="{{ url('meeting.show', {id: meeting.id, slug: meeting.slug, t: guest.guestWithoutAccount.token}) }}">Go on the meeting page.</button>
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <p>Create an account for better experience !</p>
            </columns>
        </row>
    {% endif %}
    <row>
        <columns>
            <center>
                <spacer size="20"> </spacer>
                <button href="{{ url('home') }}">Go on the website for more information.</button>
                <spacer size="20"> </spacer>
            </center>
        </columns>
    </row>
{% endblock %}
