{% extends 'email/email_base.html.twig' %}
{% block content %}
    <spacer size="20"> </spacer>
    <row>
        <columns>
            <p>{{ email.toName }}, a meeting will start soon !</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>{{ meeting.user.email }} meeting's start at {{ meeting.chosenDate.day|date('d/m/Y') }} at {{ meeting.chosenDate.startAt|date('H:i') }} until {{ meeting.chosenDate.endAt|date('H:i') }}</p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <spacer size="20"> </spacer>
                <button href="{{ url('home') }}">Go on the website for a better experience !</button>
                <spacer size="20"> </spacer>
            </center>
        </columns>
    </row>
{% endblock %}
